<!DOCTYPE html>
<html lang="en">
<head>
    <object th:include="/fragments/head_top :: head"></object>
</head>
<body>
<object th:include="/fragments/header :: header"></object>
<div class="container text-center">
    <h1>Registration successful</h1>
    <p>We have sent sms to your email to confirmation</p>
    <a th:href="@{/}">Return to landing page</a>
</div>
</body>
</html>