<!DOCTYPE html>
<html lang="en">
<head>
    <object th:include="/fragments/head_top :: head"></object>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body class="bg-dark">
<div class="container">
    <div class="d-flex justify-content-center mt-5 h-100">
        <div class="card">
            <div class="card-header">
                <h3>Sign In</h3>
                <div class="d-flex justify-content-end social_icon">
                    <span><i class="fab fa-facebook-square"></i></span>
                    <span><i class="fab fa-google-plus-square"></i><a th:href="@{/oauth2/authorization/google}">Login with Google</a></span>
                    <span><i class="fab fa-twitter-square"></i>asdasdas</span>
                </div>
            </div>
            <div class="card-body">
                <form method="post" action="/login">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" name="username" class="form-control" placeholder="username">

                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" name="password" class="form-control" placeholder="password">
                    </div>
                    <div class="row align-items-center remember">
                        <input type="checkbox">Remember Me
                    </div>
                    <div class="form-group">
                        <input type="submit" id="" value="Login" class="btn btn-primary text-center login_btn">
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    Don't have an account?<a th:href="@{/registration}">Sign Up</a>
                </div>
                <div class="d-flex justify-content-center">
                    <a href="#">Forgot your password?</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="/fragments/include_bottom :: include_bottom"></div>
</body>
</html>